
*.log
*.cache

.DS_Store
npm-debug.log

node_modules/
junk/
src/
public/

*.firebase
.firebaserc
firebase.json
manifest.json

package-lock.json

pwa-auth.js
robots.txt
rollup.config.js
storage.rules
tsconfig.json
web-dev-server.config.js

images/manifest/
images/background.svg
images/favicon.ico
images/icon-48x48.png
images/npm.svg
images/npm007.png


