*.log
*.cache

CHANGELOG.md

.DS_Store
npm-debug.log

/node_modules/
/typescript/
/website/
/development/
/export/

*.firebase
.firebaserc
firebase.json
package-lock.json
rollup.config.js
storage.rules
tsconfig.json
tsconfig.production.json
web-dev-server.config.js