*.log
*.cache

.DS_Store
npm-debug.log

node_modules/
src-javascript/
src-typesrcipt/
website/
images/manifest/

*.firebase
.firebaserc
firebase.json
manifest.json

package-lock.json

robots.txt
rollup.config.js
storage.rules
tsconfig.json
web-dev-server.config.js