:root {

  /* Top Border Color */
  --pwa_divider:                  grey;

  /* Section Header Color */
  --pwa_section_header:           black;

  /* Navigation Colors */
  --pwa_nav:                      grey;
  --pwa_nav_select:               black;

  /* Label Color */
  --pwa_label_text_color:         black;

  /* Input Colors */
  --pwa_input_background:         #E1E5EB;

  /* Button Colors */
  --pwa_action_text_color:        #fff;
  --pwa_action_background_color:  #6cc04a;
  --pwa_action_border_color:      #60b23e;

  /* Drawer Colors */
  --pwa_drawer_text_color:        #303030;
  --pwa_drawer_background_color:  #fff;

}

/* Dark Theme */
@media (prefers-color-scheme: dark) {

}

/* Light Theme */
@media (prefers-color-scheme: light) {


}