html {
  overflow:                 auto;
  scroll-behavior:          smooth;
  display:                  grid;
  height:                   100%;
  padding:                  16px;
  box-sizing:               border-box;
  transition-duration:      1s;
}

body {
  background-color:       #0a2840;
  overflow:                 hidden;
  margin:                   0;
  font-family:              Space Grotesk, system-ui, sans-serif;
  -webkit-font-smoothing:   antialiased;
  font-size:                .875rem;
  line-height:              1.25rem;
}

body {
  display:                  grid;
  grid-gap:                 16px;
  grid-template-areas:
    "head"
    "main"
    "foot";
  grid-template-rows:       auto 1fr auto;
}

header { grid-area: head; }
main { grid-area: main; }
footer { grid-area: foot; }

header {
  display:          grid;
}

main {
  border:           2px solid black;
  border-radius:    6px;
  overflow:         hidden;
  background-color: cadetblue;
}

footer {
  display:          grid;
}
