 html {
  /* overflow:                   auto; */
  scroll-behavior:            smooth;
  display:                    grid;
  height:                     100%;
  min-height: 100%;
  box-sizing:                 border-box;
  transition-duration:        1s;
}

body {
  margin:                     0;
  font-family:                Space Grotesk, system-ui, sans-serif;
  -webkit-font-smoothing:     antialiased;
  font-size:                  .875rem;
  line-height:                1.25rem;
}

body {
  /*background-color:         #0a2840;*/
  display:                    grid;
  /* grid-gap:                   16px;*/
  grid-template-areas:
    "head"
    "main";
  grid-template-rows:         auto 1fr;
}

header  { grid-area:          head; }
main    { grid-area:          main; overflow: hidden; }
footer  { grid-area:          foot; }

header {
  display:                    grid;
  grid-template-columns:      auto 1fr auto;
  padding:                    16px;
}

main {
  display:                    grid;
  grid-gap:                   16px;
  padding:                    16px;
  border-top:                 2px solid black;
  /* border:                     2px solid black;
  border-radius:              6px; */
  background-color:           cadetblue;
}

section {
  padding:                    16px;
  background-color:           white;
  border:                     2px solid black;
  border-radius:              8px;
  overflow:                   hidden;
}

h2 {
  margin-top:                 0;
  border-bottom:              2px solid black;
  padding:                    16px;
  white-space:                break-spaces;
  text-align:                 center;
  background-color:         black;
  color:                    white;
  border-radius:              8px;
}

footer {
  display:                    grid;
}

user-icon {
  margin: auto;
}

user-login {
  border-radius:              8px;
  overflow:                   hidden;
 /* border:                     2px solid black;*/
}

user-settings {
  border-radius:              8px;
  overflow:                   hidden;
 /* border:                     2px solid black;*/
}